/* Stories Page */
#pageTitle {
  text-align: center;
  margin-bottom: 3rem;
}

#zeroStoryMessage {
  text-align: center;
}

#callToAction {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

#callToAction span {
  text-decoration: underline rgba(209, 163, 252, 0.807) wavy;
}

#linkToCreatePage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  color: white;
  background-color: rgb(128, 28, 222);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 700;
}

/* Story Card */
.storyContainer {
  width: 95%;
  margin: 0 auto 4rem auto;
}

.imageContainer {
  margin-bottom: 1rem;
  width: 100%;
  
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.storyText h2 {
  margin-bottom: 0.8rem;
}

.storyText p {
  margin-bottom: 0.5rem;
  white-space: break-spaces;
}

.showAllTextDiv {
  transition: ease-in;
}

.openDisplayBtn {
  height: 30px;
  font-size: 1rem;
  border: 0;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.closeDisplayBtn {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: rgba(128, 28, 222, 0.26);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  height: 30px;
}

#callToActionDiv {
  margin: 5rem 0;
}

@media only screen and (min-width: 54em) {
  .imageContainer {
    height: 500px;
  }

  #callToActionDiv {
    margin: 5rem 0;
  }

  #linkToCreatePage {
    width: 600px;
    margin-inline: auto;
  }
}
